 .u-section-1 {
  background-image: none;
}

.u-section-1 .u-sheet-1 {
  min-height: 722px;
}

.u-section-1 .u-text-1 {
  margin: 7px auto 0;
}

.u-section-1 .u-layout-wrap-1 {
  margin-top: 17px;
  margin-bottom: 39px;
}

.u-section-1 .u-layout-cell-1 {
  min-height: 599px;
}

.u-section-1 .u-container-layout-1 {
  padding: 30px 0;
}

.u-section-1 .u-text-2 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto 0 48px;
}

.u-section-1 .u-line-1 {
  width: 91px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 10px auto 0 48px;
}

.u-section-1 .u-form-1 {
  height: 299px;
  width: 290px;
  margin: 35px 7px 0;
}

.u-section-1 .u-input-1 {
  background-image: none;
}

.u-section-1 .u-input-2 {
  background-image: none;
}

.u-section-1 .u-btn-1 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  width: 100%;
  padding: 14px 30px 15px;
}

.u-section-1 .u-btn-2 {
  border-style: none;
  font-size: 1.125rem;
  margin: 31px auto 0 48px;
  padding: 0;
}

.u-section-1 .u-btn-3 {
  border-style: none;
  align-self: center;
  font-size: 1.125rem;
  margin: 22px auto 0 48px;
  padding: 0;
}

.u-section-1 .u-image-1 {
  min-height: 623px;
  background-image: url("images/45370b97-64b2-4204-a316-582cbae9d594.jpg");
  background-position: 50% 50%;
}

.u-section-1 .u-container-layout-2 {
  padding: 0;
}

.u-section-1 .u-layout-cell-3 {
  min-height: 623px;
}

.u-section-1 .u-container-layout-3 {
  padding: 30px 0;
}

.u-section-1 .u-text-3 {
  font-weight: 700;
  font-size: 2.25rem;
  margin: 0 auto 0 40px;
}

.u-section-1 .u-line-2 {
  width: 91px;
  height: 3px;
  transform-origin: left center 0px;
  margin: 10px auto 0 40px;
}

.u-section-1 .u-form-2 {
  height: 299px;
  width: 309px;
  margin: 35px 7px 0;
}

.u-section-1 .u-input-3 {
  background-image: none;
}

.u-section-1 .u-input-4 {
  background-image: none;
}

.u-section-1 .u-btn-4 {
  background-image: none;
  border-style: none;
  text-transform: uppercase;
  width: 100%;
  padding: 14px 30px 15px;
}

.u-section-1 .u-btn-5 {
  border-style: none;
  font-size: 1.125rem;
  margin: 31px auto 0 40px;
  padding: 0;
}

.u-section-1 .u-btn-6 {
  border-style: none;
  align-self: center;
  font-size: 1.125rem;
  margin: 22px auto 0 40px;
  padding: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 613px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 494px;
  }

  .u-section-1 .u-form-1 {
    width: 390px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-2 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-3 {
    margin-left: 0;
  }

  .u-section-1 .u-image-1 {
    min-height: 514px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 514px;
  }

  .u-section-1 .u-form-2 {
    width: 266px;
    margin-left: 0;
    margin-right: 0;
  }

  .u-section-1 .u-btn-5 {
    margin-left: 0;
  }

  .u-section-1 .u-btn-6 {
    margin-left: 0;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 493px;
  }

  .u-section-1 .u-layout-cell-1 {
    min-height: 100px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 40px;
    padding-right: 40px;
  }

  .u-section-1 .u-form-1 {
    width: 192px;
  }

  .u-section-1 .u-image-1 {
    min-height: 1514px;
  }

  .u-section-1 .u-layout-cell-3 {
    min-height: 100px;
  }

  .u-section-1 .u-form-2 {
    width: 204px;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 856px;
  }

  .u-section-1 .u-container-layout-1 {
    padding-left: 30px;
    padding-right: 30px;
  }

  .u-section-1 .u-image-1 {
    min-height: 851px;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 613px;
  }

  .u-section-1 .u-line-1 {
    margin-top: 14px;
  }

  .u-section-1 .u-form-1 {
    margin-top: 31px;
  }

  .u-section-1 .u-image-1 {
    min-height: 536px;
  }

  .u-section-1 .u-text-3 {
    font-size: 1.5rem;
  }
}